form.forvalJs {
	display               : grid;
	grid-template-columns : auto 1fr;
	grid-column-gap       : 15px;
	width                 : auto;
	margin                : 50px auto;
	& > label {
		user-select         : none;
	}
	& > input {
		margin-bottom       : 15px;
		padding             : 0 6px;
		//width: 100%;
	}
}

.forvalJs[data-forvalJs-type="prompting"] {
  height           : 0;
  overflow         : hidden;
  background-color : rgba(255,0,0,.2);
  border-left      : 3px solid red;
  box-sizing       : border-box;
  padding-left     : 6px;
  user-select      : none;
  display          : block;
  transition       : height .5s, margin-bottom .5s;
}

.forvalJs-btn {}

//if IE or Egde
@supports (-ms-ime-align:auto) {
	.forvalJs {
		& > input {
			width             : 100%;
		}
	}
}