doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title waldteufel@ukr.net
    link(rel='icon', href='img/wehrwolf.jpg')

    // css-libs (font awesome, slick, wow ...)
    link(rel='stylesheet', href='css/jquery-ui.min.css')

    // js-libs (font awesome, slick, wow ...)
    script(src='js/jquery3.3.1.min.js')

    // page stylesheet and js
    link(rel='stylesheet', type='text/css', href='css/style.css')
    script(src='js/formValidationJs.js', defer='')
  body
    // ↓↓↓ MAIN SECTION (start) ↓↓↓
    main.main
      // ↓↓↓ WORK AREA (start) ↓↓↓
      .work-area


        form.forvalJs-form.form1

          label(for='form-empty') Not empty:
          input.forvalJs-notEmpty(type='text' placeholder='not empty' id='form-empty')

          label(for='form-number') Price:
          input.forvalJs-price(type='text' placeholder='enter your price' id='form-number')

          label(for='form-empty2') Not empty:
          input.forvalJs-notEmpty(type='text' placeholder='not empty' id='form-empty2' data-forvalJs-notEmpty='5')

          label(for='form-email2') E-mail:
          input.forvalJs-email(type='text' placeholder='enter your email' id='form-email2')

          label(for='form-number2') Price:
          input.forvalJs-price(type='text' placeholder='enter your price' id='form-number2')

          label(for='form-email') E-mail:
          input.forvalJs-email(type='text' placeholder='enter your email' id='form-email')

          label(for='form-password2') Password:
          input.forvalJs-password.forvalJs-notEmpty(type='password' placeholder='enter your password' id='form-password2'  data-forvalJs-notEmpty='6')

          label(for='form-password') Confirm password:
          input.forvalJs-confirmPassword(type='password' placeholder='enter your password' id='form-password')


        form.forvalJs-form.form2

          label(for='form-empty3') Not empty:
          input.forvalJs-notEmpty(type='text' placeholder='not empty' id='form-empty3' data-forvalJs-notEmpty='8')

          label(for='form-email3') E-mail:
          input.forvalJs-email(type='text' placeholder='enter your email' id='form-email3')

          label(for='form-password3') Password:
          input.forvalJs-password(type='password' placeholder='enter your password' id='form-password3')

          label(for='form-number3') Price:
          input.forvalJs-price(type='text' placeholder='enter your price' id='form-number3')
      // ↑↑↑ /WORK AREA (end) ↑↑↑
    // ↑↑↑ /MAIN SECTION (end) ↑↑↑